h1 {
    margin-top: 20px;
}

img {
    float: left;
}

body {
    background-color: teal;
}

.col-8 {
    background-color: purple;
    color: white;
    margin-top: 10vh;
}

.nav-link:hover {
    font-weight: bold;
    background-color: teal;
}
