body {
    background-color: rgb(202, 134, 202);
}

nav {
    background-color: rgb(248, 239, 239);
}

.nav-link, .navbar-brand, h1 {
    font-family: 'Aladin', cursive;
}

.container {
    margin-left: 2vw;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}


img {
    float:left;
    padding-right: 15px;
}

.col-8 {
    background-color: rgb(248, 239, 239);
    color: black;
    margin-top: 10vh;
    padding: 20px;
}

.nav-link:hover {
    font-weight: bold;
    background-color: rgb(202, 134, 202); 
}

@media screen and (max-width: 400px) {
   .col-8 {
       display: flex;
       justify-content: center;
   }
   
    #content {
        position: fixed;
    }


}



