body{
    background-color:  rgb(202, 134, 202);
}

nav {
    background-color: rgb(248, 239, 239);
}

.nav-link, .navbar-brand, h2 {
    font-family: 'Aladin', cursive;
}

.container {
    margin-left: 2vw;
}

#name, #email, #example, #form-button {
    font-family: 'Josefin Sans', sans-serif;
}

.col-8 {
    background-color: rgb(248, 239, 239);
    color: black;
    margin-top: 10vh;
    padding: 30px;
}

.nav-link:hover {
    font-weight: bold;
    background-color: teal;
}



#form-button {
    background-color: rgb(202, 134, 202);
    color: white;
    padding: 20px;
}

footer {
    background-color: white;
    color: rgb(202, 134, 202); 
}