body{
    background-color: teal;
}

.col-8 {
    margin-top: 10vh;
    background-color: white;
    padding: 50px;
}

.nav-link:hover {
    font-weight: bold;
    background-color: teal;
}



#form-button {
    background-color: teal;
    color: white;
    padding: 10px;
}

footer {
    background-color: white;
    color: teal;
}