body{
    background-color: teal;
}

.nav-link, .navbar-brand, h2 {
    font-family: 'Aladin', cursive;
}

#name, #email, #example, #form-button {
    font-family: 'Josefin Sans', sans-serif;
}

.col-8 {
    margin-top: 10vh;
    background-color: white;
    padding: 50px;
}

.nav-link:hover {
    font-weight: bold;
    background-color: teal;
}



#form-button {
    background-color: teal;
    color: white;
    padding: 10px;
}

footer {
    background-color: white;
    color: teal;
}