body {
    background-color: teal;   
}

nav {
    background-color: rgb(248, 239, 239);
}

.nav-link, .navbar-brand, h1 {
    font-family: 'Aladin', cursive;
}

.container {
    margin-left: 2vw;
}

.col-8 {
    background-color:rgb(248, 239, 239);
    color: black;
    margin-top: 50px;
    padding: 20px;
}

img .row {
    height: 30%;
    width: 45%;
}

.nav-link:hover {
    font-weight: bold;
    background-color: teal; 
}

img{
    padding: 10px;
}

