/* Sets the background color for the whole page to teal */
body {
    background-image: url(../Images/space.jpg);
    background-size: 100%;
}

/* Sets the background and text color for the navbar and main section*/
nav, .col-md-8 {
    background-color: rgb(248, 239, 239);
    color: black;
}

/* Sets the font for navbar links and main heading */
.nav-link, .navbar-brand, h1 {
    font-family: 'Aladin', cursive;
}

/* Styles the navbar links when user hovers over them */
.nav-link:hover {
    font-weight: bold;
    background-color: teal; 
}

/* Sets the font for main paragraphs */
p, h3{
    font-family: 'Josefin Sans', sans-serif;
}

/* Creates space between images */
img{
    padding: 10px;
}


/* Fixes content overflow and centers main content on small screens */
@media screen and (max-width: 400px) {
    .col-md-8 {
        width: 90vw;
        margin: 0 auto;
    }
}

#github-repo {
    margin-top: 2vh;
}